:root {
	--main-bg-primary: #282C34;
	--main-fg-primary: #E0E0E0;
	--main-fg-secondary: #202020;
	
	--skyblue-faint: #87CEEB88;
	--skyblue: #87CEEB;
	
	--bg-success: #90EE9088;
	--bg-error: #FF7F8A88;
}


/* [===== Form ===== */
.Form {
	padding-bottom: 1em;
}

.Form .FormPrompt{
	display: inline-block;
	font-size: 16px;
	padding: 0.5em 1em;
	margin-bottom: 1em;
}
.Form .FormPrompt.None{ display: none; }
.Form .FormPrompt.Success{ background: var(--bg-success); }
.Form .FormPrompt.Error{ background: var(--bg-error); }

.Form label{
	font-size: 14px;
}

.Form label::after{
	content: ':'
}

.Form input{
	display: block;
	font-size: 16px;
	padding: 3px 8px;
	width: 80%; margin: 1em auto;
	background: none;
	color: var(--main-fg-primary);
	border: none;
	border-bottom: 2px solid var(--skyblue-faint);
}

.Form input[type=submit], .Form button{
	font-size: 16px; letter-spacing: 2px;
	text-transform: uppercase; font-weight: bold;
	display: inline-block;
	width: 50%; padding: 0.7em;
	cursor: pointer;
	border-radius: 1em;
	border: 1px solid var(--skyblue);
	background: none;
	color: var(--main-fg-primary);
	transition: background 1s, color 1s;
}

.Form input[type=submit]:hover, .Form button:hover{
	background: var(--skyblue);
	color: var(--main-fg-secondary);
}

@media (prefers-reduced-motion: no-preference) {
  .Form input[type=submit].Loading::after, .Form button.Loading::after {
	display: inline-block;
	background-image: url(../img/spinner.png);
	background-size: 1em 1em;
	content: "";
	width: 1em; height: 1em;
	animation: SpinAnimation infinite 1s linear;
	filter: invert(100%);
	transition: filter 1s;
  }
  
  .Form input[type=submit].Loading:hover::after, .Form button.Loading:hover::after {
	filter: invert(0);
  }
}

/* [===== Animations =====] */

@keyframes SpinAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}