#HC-Nav {margin: 0; padding: 0;}

#HC-Nav ul {
	margin: 0; padding: 0;
	list-style-type:none;
	background-color: #333;
	overflow: hidden;
	width: 100%;
}
#HC-Nav ul a { text-decoration: none;
	float: left;
	text-align: center;
	padding: 14px 16px;
	font-size: 14px;
	display: block;
	color: white;
}
#HC-Nav ul a:hover {
	background-color: var(--skyblue-faint);
	color: black;
}
#HC-Nav ul a.logoff {
	cursor: pointer;
	color: red;
}
#HC-Nav ul a.logoff:hover, #HC-Nav ul a.logoff:focus, #HC-Nav ul a.logoff:active, #HC-Nav ul a.logoff.active{
	border-color: var(--main-bg-primary);
	background-color: var(--main-bg-primary);
}

#HC-Nav .LoggedIn{
	float: right;
}

#HC-Nav .Login{
	float: right;
	background-color: var(--skyblue-faint);
	color: var(--main-fg-primary);
}

#HC-Nav .Logout{
	float: right;
	cursor: pointer;
	color: var(--bg-error)
}