.LandingPage {
  text-align: center;
}

.LandingPage-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .LandingPage-logo {
    animation: SpinAnimation infinite 20s linear;
  }
}

.LandingPage-header {
  background-color: var(--main-bg-primary);
  min-height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.LandingPage-link {
  color: #61dafb;
}

/* [===== Login / Register Form =====] */
